html {
    height: 100%;
}

body {
    background-color: #c4cad3;
}

#content {
    border: 1px solid black;
    text-align: center;
    line-height: 2px;
}

#projects {
padding-top: 10%;
    background-color: red;
}

p {
  font-size: 3rem;
  background-color: purple;
  padding-top: 0;
  width: 100%
}

.img-responsive {
  max-width: 40%;
  padding-top: 10%;
}

.img-thumbnail{
  margin-bottom: 5%;
}
