html {
    width: 100%
}

body {
    background-color: #c4cad3;
    margin: 0;
    font-family: 'Noto Serif', serif;
    color: white;
}

h1 {
    font-size: 3.5em;
    margin-bottom: inherit;
}

h2, h4 {
    margin: 20px;
}

h4 {
    margin-bottom: 2px;
}

a, {
    color: white;
}

p {
    font-size: 1.5em;
    padding-top: 0;
    line-height: 1.5;
}

h3 {
    width: 100%;
    background: black;
    text-align: center;
    padding: 1% 0;
    transition: background .6s ease;
    -webkit-transition: background .6s ease;
    -moz-transition: background .6s ease;
    background: rgb(175, 22, 22);
    margin: 0;
}

span p {
    line-height: 200px;
    font-weight: bold;
    font-size: 2em;
    text-decoration: underline;
}

.fa-circle {
    font-size: 30%;
    vertical-align: middle;
}

.fa-angle-double-down {
    font-size: 150%
}

.btn-danger {
    background: rgb(175, 22, 22);
}
 .b{
   background: green;
   margin-bottom: 10px;
 }


.hoverbox {
    background: rgba(10, 10, 10, .7);
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    display: inline-block;
    transition: .6s linear;
    -moz-transition: .6s linear;
    -webkit-transition: .6s linear;
    color: white;
    text-align: center;
    opacity: 0;
}

.b img {

    width: 100%;
    margin: 0 auto;
    border: 1px solid black;
}
.container{
  width: 100%;
  margin: 10px auto;
}
.avatar {
    width: 200px;
    margin: 0 auto;
}

h3:hover, .btn-danger:hover {
    background: #7a0c02;
}
.b a {
  width: 100%;
  background: pink;
}
.b a:hover .hoverbox {
    height: 100%;
    opacity: 1;
}

#me {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    border-radius: 50%;
    width: 200px;
    margin: 2% auto;
}

#navbar {
    margin: 0;
}

#content {
    background: rgb(175, 22, 22);
    text-align: center;
    text-shadow: 2px 2px 3px #000, 2px 2px 5px #565656, 2px 2px 7px #a8a8a8;
    margin: 0;
    padding: 5% 0 15% 0;
    width: 100%;
}

#footer {
    background-image: url("http://unsplash.com/photos/BeIvjuz6k2k/download?force=true");
    margin: 0;
    padding: 2% 3%;
    background-size: cover;
    width: 100%
}

#bottom {
    margin: 0 auto;
    text-align: center;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a, #portfolio-btt {
    color: white;
    transition: text-decoration, font-weight .5s ease;
    -webkit-transition: text-decoration, font-weight .5s ease;
    -moz-transition: text-decoration, font-weight .5s ease;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav>li>a:hover, #portfolio-btt:hover {
    text-decoration: underline;
    font-weight: bold;
}
