html {
    width: 100%
}

body {
    background-color: #c4cad3;
    margin: 0;
    font-family: 'Noto Serif', serif;
    color: white;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a, #portfolio-btt {
    color: white;
    transition: text-decoration, font-weight .5s ease;
    -webkit-transition: text-decoration, font-weight .5s ease;
    -moz-transition: text-decoration, font-weight .5s ease;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav>li>a:hover, #portfolio-btt:hover {
    text-decoration: underline;
    font-weight: bold;
}
 #me{
   transform:rotate(90deg);
   -webkit-transform:rotate(90deg);
   -moz-transform:rotate(90deg);
   max-width: 500px;
   width: 30%;
   border-radius: 50%
 }
#navbar {
    margin: 0;
}

#content {
    background: rgb(175, 22, 22);
    text-align: center;
    text-shadow: 2px 2px 3px #000, 2px 2px 5px #565656, 2px 2px 7px #a8a8a8;
    margin: 0;
    padding: 5% 0 15% 0;
}

h1 {
    font-size: 3.5em;
    margin-bottom: inherit;
}

h2, h4 {
    margin: 20px;
}

h4 {
    margin-bottom: 2px;
}

.fa-circle {
    font-size: 30%;
    vertical-align: middle;
}

.fa-angle-double-down {
    font-size: 150%
}

h3 {
    width: 100%;
    background: black;
    text-align: center;
    padding: 1% 0;
    transition: background .6s ease;
    -webkit-transition: background .6s ease;
    -moz-transition: background .6s ease;
    background: rgb(175, 22, 22);
    margin-bottom: 0;
}

h3:hover {
    background: #7a0c02;
}

#projects {
    padding-top: 3%;
}

p {
    font-size: 1.5em;
    background-color: purple;
    padding-top: 0;
    width: 100%
}

.img-responsive {
    max-width: 40%;
    padding-top: 10%;
}

.img-thumbnail {
    margin-bottom: 5%;
}
.footer{
  background: black;
  margin: 0;
}
nav{
  text-align: center;
  margin: 50px;
}
